In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
train_activity = pd.read_csv("C:/Bigcontest/bc_data/train_activity.csv")
train_combat = pd.read_csv("C:/Bigcontest/bc_data/train_combat.csv")
train_label = pd.read_csv("C:/Bigcontest/bc_data/train_label.csv")
train_payment = pd.read_csv("C:/Bigcontest/bc_data/train_payment.csv")
train_pledge = pd.read_csv("C:/Bigcontest/bc_data/train_pledge.csv")
train_trade = pd.read_csv("C:/Bigcontest/bc_data/train_trade.csv")

In [7]:
train_activity.head()

,day,acc_id,char_id,server,playtime,npc_kill,solo_exp,party_exp,quest_exp,boss_monster,death,revive,exp_recovery,fishing,private_shop,game_money_change,enchant_count
0,1,75001,397380,aa,1.459994,0.000000,0.000000,0.000000,0.000000,0,0.00000,0.000000,0.0,0.0,1.119053,0.033934,0.0
1,1,75001,216231,aa,0.286785,2.244221,0.046989,0.000000,0.000000,0,0.00000,0.000000,0.0,0.0,0.000000,-0.013933,0.0
2,1,75711,308769,aa,1.049964,2.951697,0.321164,0.166247,0.003463,1,0.24537,0.246819,0.0,0.0,0.000000,-0.001983,0.0
3,1,72230,387177,aa,0.232272,4.035346,0.098944,0.000000,0.001732,0,0.00000,0.000000,0.0,0.0,0.000000,-0.028823,0.0
4,1,34253,339862,aa,1.102106,0.595805,0.003371,0.000000,0.000000,0,0.00000,0.000000,0.0,0.0,0.000000,0.011752,0.0

In [8]:
train_activity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1594673 entries, 0 to 1594672
Data columns (total 17 columns):
day                  1594673 non-null int64
acc_id               1594673 non-null int64
char_id              1594673 non-null int64
server               1594673 non-null object
playtime             1594673 non-null float64
npc_kill             1594673 non-null float64
solo_exp             1594673 non-null float64
party_exp            1594673 non-null float64
quest_exp            1594673 non-null float64
boss_monster         1594673 non-null int64
death                1594673 non-null float64
revive               1594673 non-null float64
exp_recovery         1594673 non-null float64
fishing              1594673 non-null float64
private_shop         1594673 non-null float64
game_money_change    1594673 non-null float64
enchant_count        1594673 non-null float64
dtypes: float64(12), int64(4), object(1)
memory usage: 206.8+ MB

In [5]:
train_activity.describe()

,day,acc_id,char_id,playtime,npc_kill,solo_exp,party_exp,quest_exp,boss_monster,death,revive,exp_recovery,fishing,private_shop,game_money_change,enchant_count
count,1.594673e+06,1.594673e+06,1.594673e+06,1.594673e+06,1.594673e+06,1.594673e+06,1.594673e+06,1.594673e+06,1.594673e+06,1.594673e+06,1.594673e+06,1.594673e+06,1.594673e+06,1.594673e+06,1.594673e+06,1.594673e+06
mean,1.474104e+01,6.543145e+04,1.985423e+05,1.061710e+00,4.961376e-01,2.339671e-01,1.294045e-01,1.059141e-01,1.239383e-01,7.423919e-02,6.643866e-02,5.700723e-02,1.561828e-01,2.661207e-01,-1.304998e-03,1.625543e-02
std,8.132663e+00,3.749806e+04,1.146751e+05,1.221404e+00,1.120659e+00,1.236939e+00,1.102442e+00,1.092475e+00,3.295112e-01,7.262480e-01,7.246670e-01,1.005531e+00,4.707315e-01,8.297414e-01,8.828235e-01,8.781793e-01
min,1.000000e+00,2.000000e+00,2.000000e+00,2.370121e-03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-8.460951e+01,0.000000e+00
25%,8.000000e+00,3.303900e+04,9.899500e+04,4.503230e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.364748e-03,0.000000e+00
50%,1.500000e+01,6.556400e+04,1.982820e+05,4.645437e-01,4.385879e-03,2.980231e-04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.200000e+01,9.766600e+04,2.978440e+05,1.798922e+00,3.495208e-01,2.200882e-02,0.000000e+00,8.658479e-04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.059622e-03,0.000000e+00
max,2.800000e+01,1.304730e+05,3.974430e+05,3.412974e+00,1.783636e+01,6.918458e+01,1.062257e+02,3.595462e+01,1.000000e+00,2.210782e+02,2.223842e+02,7.957624e+01,3.412974e+00,3.412974e+00,7.370887e+01,1.884482e+02

In [10]:
train_activity.head()

,day,acc_id,char_id,server,playtime,npc_kill,solo_exp,party_exp,quest_exp,boss_monster,death,revive,exp_recovery,fishing,private_shop,game_money_change,enchant_count
0,1,75001,397380,aa,1.459994,0.000000,0.000000,0.000000,0.000000,0,0.00000,0.000000,0.0,0.0,1.119053,0.033934,0.0
1,1,75001,216231,aa,0.286785,2.244221,0.046989,0.000000,0.000000,0,0.00000,0.000000,0.0,0.0,0.000000,-0.013933,0.0
2,1,75711,308769,aa,1.049964,2.951697,0.321164,0.166247,0.003463,1,0.24537,0.246819,0.0,0.0,0.000000,-0.001983,0.0
3,1,72230,387177,aa,0.232272,4.035346,0.098944,0.000000,0.001732,0,0.00000,0.000000,0.0,0.0,0.000000,-0.028823,0.0
4,1,34253,339862,aa,1.102106,0.595805,0.003371,0.000000,0.000000,0,0.00000,0.000000,0.0,0.0,0.000000,0.011752,0.0

In [11]:
columns = train_activity.columns

In [17]:
train_activity.sort_values('char_id').head(20)

,day,acc_id,char_id,server,playtime,npc_kill,solo_exp,party_exp,quest_exp,boss_monster,death,revive,exp_recovery,fishing,private_shop,game_money_change,enchant_count
121614,3,12365,2,ag,0.123246,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
1095433,20,121046,3,as,0.007110,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,-0.000003,0.0
1566134,28,121046,3,as,0.725257,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
1381809,25,121046,3,as,0.018961,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
701676,13,121046,3,as,0.127987,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
1503233,27,121046,3,as,1.187431,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.002462,0.0
1323122,24,121046,3,as,0.483505,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,-0.000020,0.0
814174,15,121046,3,as,0.137467,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,-0.000020,0.0
981596,18,121046,3,as,0.045032,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
531821,10,8885,5,at,0.374479,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
646106,12,8885,5,at,0.002370,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
253571,5,8885,5,at,0.018961,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
1443886,26,8885,5,at,0.182499,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
1152585,21,8885,5,at,0.002370,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
588417,11,8885,5,at,0.414771,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
88366,2,8885,5,at,0.004740,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
1504643,27,8885,5,at,0.002370,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
1324456,24,8885,5,at,0.002370,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
1383165,25,8885,5,at,0.007110,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
1125854,21,37934,7,ad,0.004740,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0

In [20]:
train_activity.groupby(['acc_id','char_id'])[columns].mean().head(20)

                      day  acc_id   char_id  playtime  npc_kill  solo_exp  \
acc_id char_id
2      233598   14.500000     2.0  233598.0  3.310212  0.000000  0.000000
5      22260    24.400000     5.0   22260.0  0.009480  0.000000  0.000000
       175813   23.000000     5.0  175813.0  0.003950  0.000000  0.000000
       321231   21.800000     5.0  321231.0  0.613387  0.323104  0.215103
8      43437    12.812500     8.0   43437.0  0.050513  0.016721  0.019369
       71899    11.100000     8.0   71899.0  0.014458  0.000000  0.000000
       126227   14.185185     8.0  126227.0  0.185747  0.694193  0.974126
       207949   15.550000     8.0  207949.0  0.042425  0.010391  0.012563
       257304   14.500000     8.0  257304.0  0.379981  0.407875  0.106590
       305373   10.285714     8.0  305373.0  0.033859  0.010362  0.006819
       320423   11.333333     8.0  320423.0  0.061360  0.018687  0.082350
17     135044   14.500000    17.0  135044.0  0.911819  1.053346  0.040940
       142415   24.000000    17.0  142415.0  0.002370  0.000000  0.000000
       176285   16.600000    17.0  176285.0  0.007110  0.000000  0.000000
       207948   13.722222    17.0  207948.0  0.180788  0.050681  0.449479
20     91720    11.500000    20.0   91720.0  1.508582  0.008603  0.002858
       149667   16.305556    20.0  149667.0  0.635917  0.945166  0.007462
21     109089   14.444444    21.0  109089.0  0.818394  0.398265  0.741625
       234178    6.000000    21.0  234178.0  0.009480  0.000000  0.000000
31     142889   13.800000    31.0  142889.0  0.028441  0.000000  0.000000

                party_exp  quest_exp  boss_monster     death    revive  \
acc_id char_id
2      233598    0.000000   0.000000      0.000000  0.000000  0.000000
5      22260     0.000000   0.000000      0.000000  0.000000  0.000000
       175813    0.000000   0.000000      0.000000  0.000000  0.000000
       321231    0.069384   0.011082      0.900000  0.024537  0.024682
8      43437     0.000000   0.003463      0.000000  0.000000  0.000000
       71899     0.000000   0.000000      0.000000  0.000000  0.000000
       126227    0.000000   0.008862      0.037037  0.000000  0.000000
       207949    0.000000   0.002078      0.000000  0.000000  0.000000
       257304    0.000000   0.003030      0.000000  0.017526  0.017630
       305373    0.000000   0.023803      0.071429  4.346550  4.372228
       320423    0.000000   0.044637      0.000000  1.690325  1.700311
17     135044    0.016738   0.002845      0.571429  0.035053  0.035260
       142415    0.000000   0.000000      0.000000  0.000000  0.000000
       176285    0.000000   0.000000      0.000000  0.000000  0.000000
       207948    0.463118   0.124326      0.277778  0.040895  0.041137
20     91720     0.000000   0.033267      0.000000  0.000000  0.000000
       149667    0.002219   0.000466      0.222222  0.027263  0.027424
21     109089    0.014046   0.352017      0.111111  0.000000  0.000000
       234178    0.000000   0.000000      0.000000  0.000000  0.000000
31     142889    0.000000   0.000000      0.000000  0.000000  0.000000

                exp_recovery   fishing  private_shop  game_money_change  \
acc_id char_id
2      233598            0.0  0.000000      3.070170          -0.000312
5      22260             0.0  0.000000      0.000000           0.000000
       175813            0.0  0.000000      0.000000           0.000000
       321231            0.0  0.039632      0.000000           0.014484
8      43437             0.0  0.022494      0.000000           0.000179
       71899             0.0  0.000000      0.000000           0.000000
       126227            0.0  0.067022      0.000000           0.000036
       207949            0.0  0.000000      0.000000           0.000023
       257304            0.0  0.084654      0.000000           0.000549
       305373            0.0  0.000000      0.000000           0.000039
       320423            0.0  0.018252      0.000000           0.000004
17     135044            0.0  0.296388      0.000000          -0.000878
       142415            0.0  0.000000      0.000000           0.000000
       176285            0.0  0.000000      0.000000          -0.000007
       207948            0.0  0.057425      0.000000          -0.000168
20     91720             0.0  0.000000      1.477119           0.000522
       149667            0.0  0.120829      0.000000          -0.010290
21     109089            0.0  0.556797      0.000000           0.000788
       234178            0.0  0.000000      0.000000           0.000000
31     142889            0.0  0.000000      0.000000           0.000000

                enchant_count
acc_id char_id
2      233598             0.0
5      22260              0.0
       175813             0.0
       321231             0.0
8      43437              0.0
       71899              0.0
       126227             0.0
       207949             0.0
       257304             0.0
       305373             0.0
       320423             0.0
17     135044             0.0
       142415             0.0
       176285             0.0
       207948             0.0
20     91720              0.0
       149667             0.0
21     109089             0.0
       234178             0.0
31     142889             0.0

In [24]:
train_combat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1574671 entries, 0 to 1574670
Data columns (total 13 columns):
day                    1574671 non-null int64
acc_id                 1574671 non-null int64
char_id                1574671 non-null int64
server                 1574671 non-null object
class                  1574671 non-null int64
level                  1574671 non-null int64
pledge_cnt             1574671 non-null float64
random_attacker_cnt    1574671 non-null float64
random_defender_cnt    1574671 non-null float64
temp_cnt               1574671 non-null float64
same_pledge_cnt        1574671 non-null float64
etc_cnt                1574671 non-null float64
num_opponent           1574671 non-null float64
dtypes: float64(7), int64(5), object(1)
memory usage: 156.2+ MB

In [25]:
columns = train_combat.columns

In [26]:
train_combat.head(20)

,day,acc_id,char_id,server,class,level,pledge_cnt,random_attacker_cnt,random_defender_cnt,temp_cnt,same_pledge_cnt,etc_cnt,num_opponent
0,1,13809,54861,ap,2,13,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
1,1,13809,256332,ap,2,13,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
2,1,13809,307293,ap,3,14,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
3,1,13809,374964,ap,7,16,0.000000,0.000000,0.000000,0.000000,0.0,0.112612,0.098129
4,1,13809,117917,ap,2,11,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
5,1,62835,129987,am,2,17,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
6,1,62835,74659,am,4,2,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
7,1,62835,179366,am,1,14,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
8,1,62835,157318,am,2,3,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
9,1,62835,394244,am,5,10,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
10,1,54241,316971,ag,2,15,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
11,1,88683,299973,ar,0,16,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
12,1,80158,211359,ap,2,17,0.577658,0.000000,1.183064,0.479728,0.0,0.675669,1.079416
13,1,30386,309343,as,7,16,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
14,1,30386,29625,as,3,15,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
15,1,16629,311417,ae,0,11,0.000000,0.000000,0.000000,0.000000,0.0,0.225223,0.098129
16,1,16629,26567,ae,2,11,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
17,1,16629,53462,ae,3,16,0.000000,3.701425,0.000000,0.000000,0.0,0.000000,1.079416
18,1,16629,149458,ae,1,6,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
19,1,10931,236388,an,1,17,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000

In [27]:
train_combat.groupby(['acc_id','char_id'])[columns].mean().head(20)

                      day  acc_id   char_id  class      level  pledge_cnt  \
acc_id char_id
2      233598   14.500000     2.0  233598.0    1.0   0.000000    0.000000
5      22260    24.400000     5.0   22260.0    2.0   4.000000    0.000000
       175813   23.000000     5.0  175813.0    2.0   1.000000    0.000000
       321231   21.800000     5.0  321231.0    2.0  15.000000    0.000000
8      43437    12.812500     8.0   43437.0    5.0  15.000000    0.000000
       71899    11.100000     8.0   71899.0    7.0  16.000000    0.000000
       126227   14.185185     8.0  126227.0    1.0  14.851852    0.000000
       207949   15.550000     8.0  207949.0    3.0  15.000000    0.000000
       257304   14.500000     8.0  257304.0    4.0  15.892857    0.004585
       305373   10.285714     8.0  305373.0    2.0  11.857143    0.000000
       320423   11.333333     8.0  320423.0    6.0  11.666667    0.000000
17     135044   14.500000    17.0  135044.0    1.0  16.000000    0.000000
       142415   24.000000    17.0  142415.0    1.0   1.000000    0.000000
       176285   16.600000    17.0  176285.0    1.0   5.000000    0.000000
       207948   13.722222    17.0  207948.0    0.0  11.833333    0.000000
20     91720    11.500000    20.0   91720.0    7.0   6.000000    0.000000
       149667   16.305556    20.0  149667.0    4.0  17.000000    0.035658
21     109089   14.444444    21.0  109089.0    0.0  14.962963    0.000000
       234178    6.000000    21.0  234178.0    1.0  16.000000    0.000000
31     142889   13.800000    31.0  142889.0    7.0   0.000000    0.000000

                random_attacker_cnt  random_defender_cnt  temp_cnt  \
acc_id char_id
2      233598              0.000000             0.000000  0.000000
5      22260               0.000000             0.000000  0.000000
       175813              0.000000             0.000000  0.000000
       321231              0.000000             0.000000  0.047973
8      43437               0.000000             0.000000  0.059966
       71899               0.000000             0.000000  0.000000
       126227              0.000000             0.000000  0.035535
       207949              0.000000             0.059153  0.000000
       257304              0.152531             0.000000  0.051399
       305373              0.000000             0.000000  0.034266
       320423              0.000000             0.000000  0.000000
17     135044              0.000000             0.084505  0.119932
       142415              0.000000             0.000000  0.000000
       176285              0.000000             0.000000  0.000000
       207948              0.000000             0.000000  0.000000
20     91720               0.000000             0.000000  0.000000
       149667              0.000000             0.032863  0.013326
21     109089              0.000000             0.000000  0.106606
       234178              0.000000             0.000000  0.000000
31     142889              0.000000             0.000000  0.000000

                same_pledge_cnt   etc_cnt  num_opponent
acc_id char_id
2      233598          0.000000  0.000000      0.000000
5      22260           0.000000  0.000000      0.000000
       175813          0.000000  0.000000      0.000000
       321231          0.000000  0.000000      0.009813
8      43437           0.000000  0.000000      0.012266
       71899           0.000000  0.000000      0.000000
       126227          0.000000  0.000000      0.007269
       207949          0.000000  0.000000      0.004906
       257304          0.000000  0.008044      0.066587
       305373          0.000000  0.000000      0.007009
       320423          0.000000  0.037537      0.032710
17     135044          0.442795  0.020109      0.045560
       142415          0.000000  0.000000      0.000000
       176285          0.000000  0.000000      0.000000
       207948          0.000000  0.006256      0.005452
20     91720           0.000000  0.000000      0.000000
       149667          0.000000  0.456702      0.280757
21     109089          0.000000  0.008342      0.029075
       234178          0.000000  0.000000      0.000000
31     142889          0.000000  0.000000      0.000000

In [28]:
train_payment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66432 entries, 0 to 66431
Data columns (total 3 columns):
day             66432 non-null int64
acc_id          66432 non-null int64
amount_spent    66432 non-null float64
dtypes: float64(1), int64(2)
memory usage: 1.5 MB

In [32]:
train_payment.sort_values(by='acc_id').head()
# 현질을 안한 사람도 있는듯?

       day  acc_id  amount_spent
11491   26       8      0.348521
11490    1       8      1.056123
35749   21      20      0.826123
35748   12      20      0.035204
35747   10      20      0.035204

In [33]:
train_pledge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1083384 entries, 0 to 1083383
Data columns (total 15 columns):
day                     1083384 non-null int64
acc_id                  1083384 non-null int64
char_id                 1083384 non-null int64
server                  1083384 non-null object
pledge_id               1083384 non-null int64
play_char_cnt           1083384 non-null float64
combat_char_cnt         1083384 non-null float64
pledge_combat_cnt       1083384 non-null float64
random_attacker_cnt     1083384 non-null float64
random_defender_cnt     1083384 non-null float64
same_pledge_cnt         1083384 non-null float64
temp_cnt                1083384 non-null float64
etc_cnt                 1083384 non-null float64
combat_play_time        1083384 non-null float64
non_combat_play_time    1083384 non-null float64
dtypes: float64(10), int64(4), object(1)
memory usage: 124.0+ MB

In [35]:
columns = train_pledge.columns
train_pledge.head()

,day,acc_id,char_id,server,pledge_id,play_char_cnt,combat_char_cnt,pledge_combat_cnt,random_attacker_cnt,random_defender_cnt,same_pledge_cnt,temp_cnt,etc_cnt,combat_play_time,non_combat_play_time
0,1,106660,345122,aa,381,0.036089,0.036089,0.0,0.0,0.0,0.0,0.000000,0.007078,0.027568,0.000000
1,1,46383,161773,aa,10892,0.036089,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.006139
2,1,18495,321373,aa,13705,0.036089,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000347
3,1,118293,366707,aa,2982,0.036089,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.001042
4,1,50421,158063,aa,27104,0.216536,0.072179,0.0,0.0,0.0,0.0,0.098883,0.056626,0.083978,0.000000

In [36]:
train_pledge.groupby(['acc_id','char_id'])[columns].mean().head(20)

                      day  acc_id   char_id     pledge_id  play_char_cnt  \
acc_id char_id
5      22260    24.400000     5.0   22260.0  28441.000000       0.050525
       175813   23.000000     5.0  175813.0  17370.000000       0.072179
       321231   21.800000     5.0  321231.0  25467.000000       0.508859
8      43437    12.812500     8.0   43437.0  28140.000000       2.147315
       71899    11.100000     8.0   71899.0  24786.000000       0.064961
       126227   14.185185     8.0  126227.0  28140.000000       2.123923
       207949   15.550000     8.0  207949.0  28140.000000       2.118443
       257304   14.500000     8.0  257304.0  21094.000000       2.164070
       305373   10.285714     8.0  305373.0  24786.000000       0.056712
       320423    2.000000     8.0  320423.0  22965.000000       1.732287
17     135044   14.500000    17.0  135044.0   1956.000000       1.558285
       207948   13.722222    17.0  207948.0   1956.000000       1.537806
20     149667   16.305556    20.0  149667.0  21873.555556       1.524774
21     109089   14.444444    21.0  109089.0   4647.000000       0.061486
31     346526   14.500000    31.0  346526.0  20183.000000       0.407294
38     67497    24.380952    38.0   67497.0   7971.000000       0.395264
41     240864   28.000000    41.0  240864.0  36763.000000       0.974412
43     388134   14.370370    43.0  388134.0   6949.000000       0.673667
53     60446    16.586957    53.0   60446.0  21965.000000       0.074532
54     317400   17.272727    54.0  317400.0  18915.545455       0.524936

                combat_char_cnt  pledge_combat_cnt  random_attacker_cnt  \
acc_id char_id
5      22260           0.000000           0.000000             0.000000
       175813          0.000000           0.000000             0.000000
       321231          0.158793           0.000000             0.193657
8      43437           0.498484           0.011838             0.423624
       71899           0.003609           0.000000             0.000000
       126227          0.525300           0.011670             0.346670
       207949          0.510664           0.007649             0.192043
       257304          0.879033           0.072656             0.470310
       305373          0.002578           0.000000             0.000000
       320423          0.324804           0.008499             0.161381
17     135044          0.475606           0.009822             0.164839
       207948          0.465151           0.011737             0.256416
20     149667          0.708754           0.221233             0.332624
21     109089          0.013366           0.000000             0.000000
31     346526          0.322226           0.280020             0.000000
38     67497           0.154669           0.009540             0.000000
41     240864          0.000000           0.000000             0.000000
43     388134          0.278021           0.023879             0.370578
53     60446           0.063549           0.009344             0.019646
54     317400          0.346129           0.043876             0.000000

                random_defender_cnt  same_pledge_cnt  temp_cnt   etc_cnt  \
acc_id char_id
5      22260               0.000000         0.000000  0.000000  0.000000
       175813              0.000000         0.000000  0.000000  0.000000
       321231              0.092991         0.000000  0.257096  0.081400
8      43437               0.223535         0.298394  0.982650  0.540160
       71899               0.000000         0.000000  0.009888  0.000000
       126227              0.227841         0.235768  1.018129  0.650938
       207949              0.221747         0.119358  1.082769  0.620410
       257304              0.265688         0.511532  0.914668  0.787963
       305373              0.000000         0.000000  0.007063  0.000000
       320423              0.047688         0.530478  0.593298  0.221786
17     135044              0.245250         0.056837  0.787533  0.278075
       207948              0.222542         0.000000  0.818532  0.262682
20     149667              0.182802         0.309446  0.788318  1.233584
21     109089              0.002649         0.000000  0.029299  0.001311
31     346526              0.329555         0.000000  0.455568  0.849139
38     67497               0.013625         0.000000  0.230727  0.263581
41     240864              0.000000         0.000000  0.000000  0.000000
43     388134              0.079479         0.029471  0.845999  0.508849
53     60446               0.023325         0.034596  0.111781  0.133410
54     317400              0.081286         0.000000  0.031463  0.562079

                combat_play_time  non_combat_play_time
acc_id char_id
5      22260            0.000000              0.000533
       175813           0.000000              0.000579
       321231           0.509761              0.000000
8      43437            1.029651              0.000000
       71899            0.000521              0.001633
       126227           1.069824              0.000000
       207949           1.062315              0.000000
       257304           2.428940              0.000000
       305373           0.000372              0.001249
       320423           0.751048              0.000000
17     135044           1.434617              0.000000
       207948           1.418016              0.000000
20     149667           1.845887              0.000000
21     109089           0.018589              0.032411
31     346526           1.431986              0.000000
38     67497            0.433401              0.002752
41     240864           0.000000              0.005097
43     388134           0.558267              0.000000
53     60446            0.171579              0.000541
54     317400           0.797502              0.000000

In [44]:
train_pledge[train_pledge['acc_id']==8].sort_values(by=['char_id','day'])

,day,acc_id,char_id,server,pledge_id,play_char_cnt,combat_char_cnt,pledge_combat_cnt,random_attacker_cnt,random_defender_cnt,same_pledge_cnt,temp_cnt,etc_cnt,combat_play_time,non_combat_play_time
16215,1,8,43437,ao,28140,2.417984,0.469161,0.029140,0.000000,0.143063,0.000000,0.988830,0.304365,0.921088,0.000000
89324,3,8,43437,ao,28140,2.129270,0.541340,0.000000,1.872017,0.286125,0.795717,0.692181,0.318522,1.038309,0.000000
126329,4,8,43437,ao,28140,2.129270,0.541340,0.007285,1.323322,0.715313,0.000000,0.692181,0.127409,1.123329,0.000000
199572,6,8,43437,ao,28140,2.093181,0.541340,0.036425,1.420151,0.000000,1.591434,1.681012,0.474244,1.283755,0.000000
236421,7,8,43437,ao,28140,2.417984,0.360893,0.000000,0.000000,0.000000,0.795717,0.889947,0.063704,1.149855,0.000000
273835,8,8,43437,ao,28140,2.237538,0.613518,0.012749,1.000561,0.214594,0.795717,0.593298,0.148644,0.765296,0.000000
311419,9,8,43437,ao,28140,2.165359,0.433072,0.000000,0.000000,0.214594,0.000000,1.483246,0.474244,0.809311,0.000000
349330,10,8,43437,ao,28140,2.417984,0.613518,0.001821,0.710075,0.143063,0.000000,1.977661,1.812036,1.086032,0.000000
426429,12,8,43437,ao,28140,2.742788,0.830054,0.000000,0.000000,0.572251,0.000000,1.582129,1.988993,1.478583,0.000000
542068,15,8,43437,ao,28140,1.840555,0.469161,0.000000,0.000000,0.214594,0.000000,0.692181,0.672435,0.946687,0.000000
618525,17,8,43437,ao,28140,2.237538,0.288715,0.000000,0.000000,0.357657,0.000000,0.988830,0.233583,0.897459,0.000000
657408,18,8,43437,ao,28140,1.948823,0.541340,0.000000,0.000000,0.214594,0.000000,0.791064,0.622887,1.070858,0.000000
773909,21,8,43437,ao,28140,1.876645,0.360893,0.009106,0.000000,0.286125,0.000000,0.395532,0.637044,0.797149,0.000000
812843,22,8,43437,ao,28140,2.021002,0.505250,0.010928,0.000000,0.000000,0.000000,0.988830,0.155722,0.988734,0.000000
891241,24,8,43437,ao,28140,1.624019,0.433072,0.040068,0.000000,0.071531,0.795717,0.296649,0.318522,1.004139,0.000000
1057586,28,8,43437,ao,28140,2.057091,0.433072,0.041889,0.451866,0.143063,0.000000,0.988830,0.290209,1.113831,0.000000
15407,1,8,71899,ao,24786,0.072179,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000463
51532,2,8,71899,ao,24786,0.072179,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000579
161349,5,8,71899,ao,24786,0.072179,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001737
198748,6,8,71899,ao,24786,0.072179,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.006139
235578,7,8,71899,ao,24786,0.072179,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001274
425522,12,8,71899,ao,24786,0.072179,0.036089,0.000000,0.000000,0.000000,0.000000,0.098883,0.000000,0.005212,0.000000
617702,17,8,71899,ao,24786,0.036089,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000232
656575,18,8,71899,ao,24786,0.036089,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000695
773087,21,8,71899,ao,24786,0.072179,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.004749
812018,22,8,71899,ao,24786,0.072179,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000463
16213,1,8,126227,ao,28140,2.417984,0.469161,0.029140,0.000000,0.143063,0.000000,0.988830,0.304365,0.921088,0.000000
52341,2,8,126227,ao,28140,2.201448,0.541340,0.063744,0.774628,0.143063,0.795717,0.395532,0.304365,1.268118,0.000000
89325,3,8,126227,ao,28140,2.129270,0.541340,0.000000,1.872017,0.286125,0.795717,0.692181,0.318522,1.038309,0.000000
126328,4,8,126227,ao,28140,2.129270,0.541340,0.007285,1.323322,0.715313,0.000000,0.692181,0.127409,1.123329,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580195,16,8,257304,ao,21094,1.912734,0.613518,0.036425,0.968284,0.143063,0.000000,0.593298,0.481322,1.839513,0.000000
618345,17,8,257304,ao,21094,2.057091,0.613518,0.020034,1.516979,0.000000,0.000000,0.988830,0.573339,2.357972,0.000000
657217,18,8,257304,ao,21094,1.984913,0.685697,0.000000,1.323322,0.643782,0.000000,1.087714,1.153757,2.564383,0.000000
696194,19,8,257304,ao,21094,2.165359,1.010501,0.074672,0.000000,0.572251,0.795717,0.988830,0.736140,2.671527,0.000000
735560,20,8,257304,ao,21094,1.984913,0.938322,0.000000,0.839180,0.286125,0.000000,0.296649,0.658279,2.330405,0.000000
773676,21,8,257304,ao,21094,1.948823,0.721786,0.000000,0.000000,0.786845,0.000000,0.494415,0.757374,2.586160,0.000000
812632,22,8,257304,ao,21094,2.021002,0.793965,0.018213,0.000000,0.143063,0.000000,0.791064,0.396383,2.147971,0.000000
851680,23,8,257304,ao,21094,1.912734,0.505250,0.021855,0.000000,0.143063,0.000000,0.988830,0.169878,1.528738,0.000000
891018,24,8,257304,ao,21094,1.876645,0.757876,0.050996,0.000000,0.143063,0.795717,0.692181,0.198191,1.967506,0.000000
931233,25,8,257304,ao,21094,2.021002,0.793965,0.047353,2.162502,0.143063,0.000000,0.494415,0.290209,2.424691,0.000000
972717,26,8,257304,ao,21094,2.093181,0.938322,0.060102,0.000000,0.071531,1.591434,2.570959,0.233583,2.356814,0.000000
1014589,27,8,257304,ao,21094,1.768377,0.757876,0.000000,0.000000,0.429188,0.000000,0.791064,0.545026,2.244226,0.000000
1057353,28,8,257304,ao,21094,1.696198,0.649608,0.000000,0.677799,1.216033,0.000000,0.692181,0.311444,2.037584,0.000000
15408,1,8,305373,ao,24786,0.072179,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000463
51533,2,8,305373,ao,24786,0.072179,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000579
88540,3,8,305373,ao,24786,0.036089,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001274
125536,4,8,305373,ao,24786,0.036089,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000116
161348,5,8,305373,ao,24786,0.072179,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001737
198749,6,8,305373,ao,24786,0.072179,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.006139
235577,7,8,305373,ao,24786,0.072179,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001274
310558,9,8,305373,ao,24786,0.036089,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000116
425521,12,8,305373,ao,24786,0.072179,0.036089,0.000000,0.000000,0.000000,0.000000,0.098883,0.000000,0.005212,0.000000
464627,13,8,305373,ao,24786,0.036089,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000232
541241,15,8,305373,ao,24786,0.036089,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000232
773086,21,8,305373,ao,24786,0.072179,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.004749
812019,22,8,305373,ao,24786,0.072179,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000463
890412,24,8,305373,ao,24786,0.036089,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000116
16154,1,8,320423,ao,22965,1.624019,0.396983,0.000000,0.484142,0.000000,0.795717,0.791064,0.134487,0.672631,0.000000
52288,2,8,320423,ao,22965,2.021002,0.396983,0.000000,0.000000,0.071531,0.795717,0.296649,0.474244,0.829119,0.000000
89281,3,8,320423,ao,22965,1.551841,0.180447,0.025498,0.000000,0.071531,0.000000,0.692181,0.056626,0.751396,0.000000

In [45]:
train_trade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2245196 entries, 0 to 2245195
Data columns (total 11 columns):
day               int64
time              object
type              int64
server            object
source_acc_id     int64
source_char_id    int64
target_acc_id     int64
target_char_id    int64
item_type         object
item_amount       float64
item_price        float64
dtypes: float64(2), int64(6), object(3)
memory usage: 188.4+ MB

In [9]:
train_trade.head()
columns = train_trade.columns

In [10]:
train_trade.groupby('source_acc_id')[columns].sum().sort_values(by='item_price').tail()

,day,type,source_acc_id,source_char_id,target_acc_id,target_char_id,item_amount,item_price
source_acc_id,,,,,,,,
121656,931,29,7299360,11445272,4180163,13315549,87.128830,345.353693
72312,7074,3,35288256,13474656,33600122,85036195,13.447106,345.498840
114430,7803,4,52408940,169319394,31472356,94969300,0.000115,406.602597
128480,11773,65,84154400,95810603,40204657,130401840,20.501602,448.996374
107662,23254,2,159985732,470036660,102404251,297129835,3.787383,479.415370

In [8]:
train_trade.head()
# 115641 / 202802

,day,time,type,server,source_acc_id,source_char_id,target_acc_id,target_char_id,item_type,item_amount,item_price
0,7,21:13:05,1,ag,11439,385109,48152,34247,enchant_scroll,4.793968e-08,NaN
1,2,15:33:00,1,al,22220,259705,43228,379826,enchant_scroll,4.314571e-06,NaN
2,1,14:24:53,1,al,18212,164230,38145,34209,accessory,7.190952e-08,NaN
3,7,23:13:43,1,au,121622,49839,71226,281334,adena,9.587936e-03,NaN
4,2,12:43:33,0,bd,14421,344503,65220,210558,etc,1.198492e-07,0.000639

In [11]:
a = train_trade[train_trade['source_acc_id'] == 115641]

In [14]:
type(a)

pandas.core.frame.DataFrame

In [15]:
a.head()

,day,time,type,server,source_acc_id,source_char_id,target_acc_id,target_char_id,item_type,item_amount,item_price
214,7,01:01:30,1,bd,115641,202802,43124,81990,armor,2.396984e-08,NaN
10334,3,01:00:38,1,ay,115641,167747,19311,348081,armor,1.198492e-07,NaN
10831,4,17:01:28,1,ay,115641,167747,86038,209330,adena,6.258754e-01,NaN
11159,3,01:00:38,1,ay,115641,167747,19311,348081,adena,5.597177e-01,NaN
13713,7,22:48:30,0,bd,115641,202802,14873,238581,armor,2.396984e-08,0.00131

In [17]:
a[train_trade['target_acc_id'] == 43124]

C:\Users\KTH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,day,time,type,server,source_acc_id,source_char_id,target_acc_id,target_char_id,item_type,item_amount,item_price
214,7,01:01:30,1,bd,115641,202802,43124,81990,armor,2.396984e-08,NaN
77733,1,01:01:23,1,bc,115641,160503,43124,312165,adena,3.345183e-01,NaN
97978,5,17:01:21,1,bd,115641,202802,43124,81990,armor,2.396984e-08,NaN
100915,7,01:01:30,1,bd,115641,202802,43124,81990,adena,2.401648e-02,NaN
106598,1,01:01:23,1,bc,115641,160503,43124,312165,etc,4.170752e-06,NaN
134853,7,01:01:30,1,bd,115641,202802,43124,81990,etc,1.790068e-03,NaN
169150,5,17:01:21,1,bd,115641,202802,43124,81990,etc,2.414650e-03,NaN
177018,5,17:01:21,1,bd,115641,202802,43124,81990,adena,3.332182e-02,NaN
202081,1,01:01:23,1,bc,115641,160503,43124,312165,spell,2.396984e-08,NaN
202904,5,17:01:21,1,bd,115641,202802,43124,81990,enchant_scroll,2.396984e-08,NaN
216802,5,17:01:21,1,bd,115641,202802,43124,81990,spell,9.587936e-08,NaN
219345,7,01:01:30,1,bd,115641,202802,43124,81990,spell,1.677889e-07,NaN
225907,7,01:01:30,1,bd,115641,202802,43124,81990,enchant_scroll,4.793968e-08,NaN
421313,1,01:01:29,1,bc,115641,160503,43124,312165,armor,7.190952e-08,NaN
476051,8,17:01:24,1,bd,115641,202802,43124,81990,adena,2.713923e-02,NaN
536175,8,17:01:24,1,bd,115641,202802,43124,81990,armor,2.396984e-08,NaN
538130,8,17:01:24,1,bd,115641,202802,43124,81990,etc,2.399573e-03,NaN
539321,8,17:01:24,1,bd,115641,202802,43124,81990,spell,2.636682e-07,NaN
718916,8,17:01:24,1,bd,115641,202802,43124,81990,enchant_scroll,7.190952e-08,NaN

In [18]:
b = train_trade[train_trade['source_acc_id'] == 43124]
# 불리언 여러개 쓰고싶으면 () & ()로 사용하면 됨

In [20]:
b.head()

,day,time,type,server,source_acc_id,source_char_id,target_acc_id,target_char_id,item_type,item_amount,item_price
743,7,11:03:59,0,bd,43124,81990,89537,167695,etc,4.793968e-08,0.000452
1415,7,15:45:32,0,bd,43124,81990,94124,9967,spell,2.396984e-08,0.000250
1466,7,16:21:22,0,bd,43124,81990,16071,163630,etc,4.793968e-08,0.000869
3840,7,12:08:20,0,bd,43124,81990,66240,310700,etc,7.190952e-08,0.000047
5852,7,02:47:08,0,bd,43124,81990,119319,263203,etc,4.793968e-05,0.001143

In [22]:
b[train_trade['target_acc_id'] == 115641]

C:\Users\KTH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,day,time,type,server,source_acc_id,source_char_id,target_acc_id,target_char_id,item_type,item_amount,item_price
157245,1,01:00:38,1,an,43124,167307,115641,348961,etc,3.087315e-05,NaN
216976,1,01:00:38,1,an,43124,167307,115641,348961,armor,4.793968e-08,NaN
262862,1,01:00:38,1,an,43124,167307,115641,348961,spell,8.197685e-06,NaN
311439,1,01:00:38,1,an,43124,167307,115641,348961,adena,5.723484e-01,NaN
376383,1,01:00:38,1,an,43124,167307,115641,348961,accessory,7.190952e-08,NaN
423056,1,01:00:41,1,an,43124,167307,115641,348961,accessory,2.396984e-08,NaN

In [23]:
a[train_trade['target_acc_id'] == 43124]

C:\Users\KTH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,day,time,type,server,source_acc_id,source_char_id,target_acc_id,target_char_id,item_type,item_amount,item_price
214,7,01:01:30,1,bd,115641,202802,43124,81990,armor,2.396984e-08,NaN
77733,1,01:01:23,1,bc,115641,160503,43124,312165,adena,3.345183e-01,NaN
97978,5,17:01:21,1,bd,115641,202802,43124,81990,armor,2.396984e-08,NaN
100915,7,01:01:30,1,bd,115641,202802,43124,81990,adena,2.401648e-02,NaN
106598,1,01:01:23,1,bc,115641,160503,43124,312165,etc,4.170752e-06,NaN
134853,7,01:01:30,1,bd,115641,202802,43124,81990,etc,1.790068e-03,NaN
169150,5,17:01:21,1,bd,115641,202802,43124,81990,etc,2.414650e-03,NaN
177018,5,17:01:21,1,bd,115641,202802,43124,81990,adena,3.332182e-02,NaN
202081,1,01:01:23,1,bc,115641,160503,43124,312165,spell,2.396984e-08,NaN
202904,5,17:01:21,1,bd,115641,202802,43124,81990,enchant_scroll,2.396984e-08,NaN
216802,5,17:01:21,1,bd,115641,202802,43124,81990,spell,9.587936e-08,NaN
219345,7,01:01:30,1,bd,115641,202802,43124,81990,spell,1.677889e-07,NaN
225907,7,01:01:30,1,bd,115641,202802,43124,81990,enchant_scroll,4.793968e-08,NaN
421313,1,01:01:29,1,bc,115641,160503,43124,312165,armor,7.190952e-08,NaN
476051,8,17:01:24,1,bd,115641,202802,43124,81990,adena,2.713923e-02,NaN
536175,8,17:01:24,1,bd,115641,202802,43124,81990,armor,2.396984e-08,NaN
538130,8,17:01:24,1,bd,115641,202802,43124,81990,etc,2.399573e-03,NaN
539321,8,17:01:24,1,bd,115641,202802,43124,81990,spell,2.636682e-07,NaN
718916,8,17:01:24,1,bd,115641,202802,43124,81990,enchant_scroll,7.190952e-08,NaN

In [24]:
train_trade.head()

,day,time,type,server,source_acc_id,source_char_id,target_acc_id,target_char_id,item_type,item_amount,item_price
0,7,21:13:05,1,ag,11439,385109,48152,34247,enchant_scroll,4.793968e-08,NaN
1,2,15:33:00,1,al,22220,259705,43228,379826,enchant_scroll,4.314571e-06,NaN
2,1,14:24:53,1,al,18212,164230,38145,34209,accessory,7.190952e-08,NaN
3,7,23:13:43,1,au,121622,49839,71226,281334,adena,9.587936e-03,NaN
4,2,12:43:33,0,bd,14421,344503,65220,210558,etc,1.198492e-07,0.000639

In [26]:
train_trade[(train_trade['source_acc_id'] == 11439) & (train_trade['target_acc_id'] == 48152) & (train_trade['server'] == 'ag')].head()

,day,time,type,server,source_acc_id,source_char_id,target_acc_id,target_char_id,item_type,item_amount,item_price
0,7,21:13:05,1,ag,11439,385109,48152,34247,enchant_scroll,4.793968e-08,NaN
56337,7,20:46:54,1,ag,11439,385109,48152,34247,adena,1.438190e-02,NaN

In [27]:
train_trade[(train_trade['source_acc_id'] == 48152) & (train_trade['target_acc_id'] == 11439) & (train_trade['server'] == 'ag')].head()

Empty DataFrame
Columns: [day, time, type, server, source_acc_id, source_char_id, target_acc_id, target_char_id, item_type, item_amount, item_price]
Index: []